.page-width
	%h1.color Try and fit this into a grid
	%p MAKE THIS GRID YO
	.row
		.tile.tile__quarter
		.tile.tile__quarter.tile__quarter--live.desaturate
			.padded
				%p zomg 
			%a{href: "/#jump"}
				%span.link-spanner
		.tile.tile__quarter.tile__quarter--live.desaturate
			.padded
				%p zomg 
			%a{href: "/#jump"}
				%span.link-spanner

		.tile.tile__quarter.row__last-child
		.tile.tile__quarter
		.tile.tile__quarter.tile__quarter--live.desaturate
			.padded
				%p zomg 
			%a{href: "/#jump"}
				%span.link-spanner
		.tile.tile__quarter.tile__quarter--live.desaturate
			.padded
				%p zomg 
			%a{href: "/#jump"}
				%span.link-spanner
		.tile.tile__quarter.row__last-child

.full-width#callout
	.page-width
		.row
			%h3 now what?
			#jump
