.page-width
	.row
		#one.tile.tile__quarter.tile__quarter--live.initial-background
			.padded
				%p zomg 
			%a{href: "/#jump"} 
				%span.link-spanner
		#two.tile.tile__quarter.tile__quarter--live.desaturate
			.padded
				%p zomg 
			%a{href: "/#jump"}
				%span.link-spanner

		#three.tile.tile__quarter.tile__quarter--live.desaturate
			.padded
				%p zomg 
			%a{href: "/#jump"}
				%span.link-spanner
		#four.tile.tile__quarter.tile__quarter--live.row__last-child.desaturate
			.padded
				%p zomg 
			%a{href: "/#jump"}
				%span.link-spanner

.full-width#callout
	.page-width
		.row
			%h3 
			Hi, my name is
			%button.plain.reveal-image--one Christine
			#jump
