%section.header
	.page-width
		.row
			#one.tile.tile__quarter.initial-background
				.padded
					%p zomg 
				%a{href: "/#jump"} 
					%span.link-spanner
			#two.tile.tile__quarter.desaturate
				.padded
					%p zomg 
				%a{href: "/#jump"}
					%span.link-spanner

			#three.tile.tile__quarter.desaturate
				.padded
					%p zomg 
				%a{href: "/#jump"}
					%span.link-spanner
			#four.tile.tile__quarter.row__last-child.desaturate
				.padded
					%p zomg 
				%a{href: "/#jump"}
					%span.link-spanner

.full-width#sticky-menu
	.page-width
		.row
			%h3 
			This is where the sticky menu will go

%section.who
	.page-width
		.row
			.tile.tile__half-right
				%p WHO I AM- Hi, my name is. Picture here?
				%button.plain.reveal-image--one Christine
				#jump
			.tile.tile__half-left
				%p Some other gibberish about me
%section.what
	.page-width
		.row
			%p WHAT I DO
			%p make some visual skill item here

%section.contact
	.page-width
		.row
			%h3 CONTACT
			%p some giant social icons here i suppose