/*============================================================================
  General CSS Setup
==============================================================================*/
html {
	font-size: 100%;
}

body {
	font-size: $bodyFontSize;
	font-family: $defaultBodyFont;
	margin: 0;
	background: $bodyBackgroundColor;
}

/*============================================================================
  General Layout
==============================================================================*/
.full-width {
	margin: 0 auto;
  @extend %clearfix;
  position: relative;
}

.page-width {
	@extend .full-width;
  max-width: $pageMaxWidth;
  // border: 1px solid green;
}

.row {
	width: 100%;
	@extend %clearfix;
	clear: both;
	position: relative;
}

/*================ Helper Classes ================*/

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.gutter-right {
  margin-right: $gutter-width;
}

.gutter-top {
  margin-top: $gutter-width;
}

.gutter-bottom {
  margin-bottom: $gutter-width;
}

.centre {
	margin: 0 auto;
}

.text-centre {
	text-align: center;
}

span.link-spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

/*============================================================================
  Font Style Management
==============================================================================*/
.skill-text {
	color: #FEFEFE;
}


/*============================================================================
  Full Screen - Column Layout
  There are 12 columns at Full Screen, max 1200px
==============================================================================*/
@include bp($fullScreen, true) {
	.page-width {
		@include container($total-columns);
	}

	/*================ 2 Column Layout ================*/
	.col-desktop--main__half-left {
		@include span-columns(6, 12)
	}

	.col-desktop--main__half-right {
		@include span-columns(6 omega, 12)
	}

	/*================ Tiles ================*/
	.tile {
		overflow: hidden;
		position: relative;
		float: left;
		min-height: convertEm(150);
		margin-bottom: convertEm(12); //half of $gutter-width
		@include box-shadow(0 1px 3px 1px rgba(51, 51, 51, 0.1));
		@extend %clearfix;
	}

	.tile.blue-border{
		// bottom border opacity
		border-bottom: convertEm(6) solid rgb(101,192,197);
		border-bottom: convertEm(6) solid rgba(101,192,197,0.5);
    -webkit-background-clip: padding-box; // Safri
    background-clip: padding-box; // IE9+, Firefox 4+, Opera, Chrome
	}
	
	.circle {
		border-radius: 50%;
	}

	.padded {
		padding: defaultPadding();	
	}

	.tile__quarter {
		@include span-columns(3, 12);
		margin-right: convertEm(12); //override 2%
			&#one.img-face {
				background-image: url("http://25.media.tumblr.com/tumblr_liu31mU0wW1qfp5jso1_500.jpg");
				overflow: hidden;
				background-position: 20% 50%;  //This is only for demo purposes, remove later
				// background-size: contain;
		}
			&#two.img-face {
				background-image: url("http://25.media.tumblr.com/tumblr_liu31mU0wW1qfp5jso1_500.jpg");
				background-position: 10% 10%;
			}

			&#three.img-face {
				background-image: url("http://25.media.tumblr.com/tumblr_liu31mU0wW1qfp5jso1_500.jpg");
				background-position: 30% 90%;
			}
			&#four.img-face {
				background-image: url("http://25.media.tumblr.com/tumblr_liu31mU0wW1qfp5jso1_500.jpg");
				background-position: 80% 20%;
			}

	}

	.tile__half-right {
		@include span-columns(6, 12)
	}

	.tile__half-left{
		@include span-columns(6 omega, 12)
	}

}

/*================ Row Helper Classes ================*/

.row__last-child {
	margin-right: 0;
}

.reveal-background {
	background-image: url("https://github.global.ssl.fastly.net/images/modules/dashboard/bootcamp/octocat_fork.png?74c9d5ac")
}

/*================ Images ================*/

.desaturate { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*================ Full width areas ================*/
#sticky-menu {
	background-color: #645B6C;
	height: 50px;
	margin-top: 300px;
	position: relative;
	display: block;
}

/*============================================================================
	Header Section
==============================================================================*/
section {
	// background: $bodyBackgroundColor;	
}

section.header {
	z-index: -10;
	position: fixed;
	width: 100%;
	top: 0;
}

/*============================================================================
	Intro Section
==============================================================================*/

section.who {
	background: #FEFEFE;
}

section.what {
	// background: $bodyBackgroundColor;
	background: #65C0C5;
	height: auto;
}

section.contact {
	background: yellow;
}

/*============================================================================
	Fill Skill Section
==============================================================================*/
@include bp($fullScreen, true) {	
	.what__skill {
	}

	.fill {
		width: 50%;
		position: absolute;
		height: convertEm(520);
		background: #EDEDEC;
		z-index: 2;
	}

	.fill1,
	.fill2,
	.fill3, 
	.fill4 {
		width: 50%;
		position: relative;
		height: convertEm(130);
		z-index: 1;
	}

	.fill1 {
		background: #FFE0D7;
		bottom: convertEm(4);
		width: 60%
	}
	.fill2 {
		background: #D6A79F;
	}
	.fill3 {
		background: #FFE0D7;
		height: convertEm(125);
	} 
	.fill4 {
		background: #D6A79F;
	}

	.fill-image {
		z-index: 3;
		position: absolute;
		max-height: convertEm(520);
	}

/*============================================================================
	Describe Skill Section
==============================================================================*/

	.skill-descriptions {
		position: absolute;
		height: convertEm(520);
	}

	.skill {
		position: relative;
	}

	.checkboard {
		top: convertEm(20);
	}
	.lightbulb {
		top: convertEm(40);
	}

	.numbers {
		top: convertEm(60);
	}

	.code {
		top: convertEm(80);
	}
}