/*================ Typography ================*/
$defaultBodyFont: 'Open Sans', sans-serif;
// $lightFont:
// $thinFont: 

$bodyFontSize: 1em;            // 16px
$bodyFontColor: #6a6a6a;

/*================ Font Colors ================*/

/*================ Backgrounds ================*/

/*================ Borders ================*/

/*================ Layouts ================*/
@function defaultPadding() {
  @return convertEm(24);
}